# Text files
*.txt

# CSV files
*.csv

# Zip files
*.tar
*.tar.gz
*.zip
*.rar

# VS Code settings
.vscode/

# Circuits files
circuits/*(Security copy)

# Quartus files and directories
*/output_files/
*/db/
*/greybox_tmp/
*/incremental_db/
*/simulation/
*.sv.bak
*.v.bak
*.mif
*.rpt
